<ion-toolbar class="card segment-block absolute-toolbar" *ngIf="iconScrollTop">
  <ion-segment scrollable>
    <ion-segment-button *ngFor="let park of listPark">
      {{park.name}}
    </ion-segment-button>
  </ion-segment>

</ion-toolbar>


<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">

  <ion-card-header class="ion-text-center title-page">
    <ion-row>
      <ion-col class="ion-text-left">
      </ion-col>
      <ion-col align-self-center>
        #Аттракционы
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button fill="clear" size="small">
          <ion-icon class="icon-header" name="map"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-toolbar class="card segment-block">
    <ion-segment scrollable>
      <ion-segment-button *ngFor="let park of listPark">
        {{park.name}}
      </ion-segment-button>
    </ion-segment>

  </ion-toolbar>


  <ion-row *ngFor="let attr of listAttr" class="card ion-margin-bottom">
    <ion-col class="ion-no-padding">
      <div class="img-block">
        <img class="img" src="{{attr.image || 'http://kazanpark.ru/upload/iblock/2c5/2c58d07c22293c7ec449f4646be2d3b9.jpg'}}"/>
      </div>
      <ion-card-header padding class="title-card">
        {{attr.name}}
      </ion-card-header>
      <ion-card-content class="card-content" padding>
        {{attr.info}}
      </ion-card-content>
    </ion-col>
  </ion-row>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="iconScrollTop" (click)="scrollToTop()">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>