<!--<ion-toolbar class="card segment-block absolute-toolbar box-shadow" *ngIf="iconScrollTop">-->
    <!--<ion-segment scrollable>-->
        <!--<ion-segment-button *ngFor="let park of listPark" (click)="selectPark(park)" [checked]="park.name === itemPark.name">-->
            <!--{{park.name}}-->
        <!--</ion-segment-button>-->
    <!--</ion-segment>-->
<!--</ion-toolbar>-->

<ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="menu/list-service"></ion-back-button>
    </ion-buttons>
    <ion-title>
        {{itemPark.name}}
    </ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="onLocation()" *ngIf="itemPark.xCenter">
            <!--<ion-icon class="icon-header" name="map"></ion-icon>-->
            <ion-icon name="pin"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>


<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">

    <!--<ion-card-header class="ion-text-center title-page">-->
        <!--<ion-row>-->
            <!--<ion-col size="4" class="ion-text-right">-->
               <!--<ion-buttons>-->
                   <!--<ion-back-button [color]="'light'" defaultHref="menu/list-service"></ion-back-button>-->
               <!--</ion-buttons>-->
            <!--</ion-col>-->
            <!--<ion-col size="4" align-self-center>-->
                <!--#{{itemPark.name}}-->
            <!--</ion-col>-->
            <!--<ion-col size="4" class="ion-text-right">-->
                <!--&lt;!&ndash;<ion-button fill="clear" size="small" (click)="getListAttr(this.itemPark.id)">&ndash;&gt;-->
                    <!--&lt;!&ndash;<ion-icon class="icon-header" name="refresh"></ion-icon>&ndash;&gt;-->
                <!--&lt;!&ndash;</ion-button>&ndash;&gt;-->
                <!--<ion-button fill="clear" size="small" (click)="onLocation()" *ngIf="itemPark.xCenter">-->
                    <!--&lt;!&ndash;<ion-icon class="icon-header" name="map"></ion-icon>&ndash;&gt;-->
                    <!--<ion-icon class="icon-header" name="pin"></ion-icon>-->
                <!--</ion-button>-->
            <!--</ion-col>-->
        <!--</ion-row>-->
    <!--</ion-card-header>-->

    <ion-toolbar class="card segment-block box-shadow">
        <!--<ion-segment scrollable>-->
            <!--<ion-segment-button *ngFor="let park of listPark" (click)="selectPark(park)" [checked]="park.name === itemPark.name">-->
                <!--{{park.name}}-->
            <!--</ion-segment-button>-->
        <!--</ion-segment>-->

        <ion-row>
            <ion-col>
                <ion-item lines="none">
                    <ion-label class="label" color="tertiary">Возраст: {{age}} лет</ion-label>
                </ion-item>
            </ion-col>

            <ion-col>
                <ion-item lines="none">
                    <ion-label class="label" color="secondary">Рост: {{growth}} см</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-item lines="none">
            <!--<ion-label position="floating" color="success">Возраст:</ion-label>-->
            <ion-range class="range" color="tertiary" min="2" max="12" step="1" ticks="true" snaps="true" [(ngModel)]="age">
                <ion-label color="tertiary" slot="start">4</ion-label>
                <ion-label color="tertiary" slot="end">12</ion-label>
            </ion-range>
            <br/>
            <!--<ion-label position="floating" color="danger">Рост:</ion-label>-->
            <ion-range class="range" color="secondary" min="90" max="150" step="10" ticks="true" snaps="true" [(ngModel)]="growth">
                <ion-label color="secondary" slot="start">90</ion-label>
                <ion-label color="secondary" slot="end">150</ion-label>
            </ion-range>
        </ion-item>
    </ion-toolbar>

    <div class="content">
    <ion-row *ngFor="let attr of listAttr; let i = index" class="card"
             [hidden]="attr.name === '52 Метра (взрослый) 1' || attr.name === '52 Метра (детский) 1'">
        <ion-col class="ion-no-padding">
            <div class="img-block" (click)="onPhoto(attr)">
                <img class="img"
                     src="{{attr.image || 'assets/no-image.png'}}"/>
            </div>
            <ion-card-header padding class="title-card">
                <ion-row>
                    <ion-col size="7">
                        {{attr.name}}<br/>
                        <small class="card-content">{{attr.price}} ₽</small>
                    </ion-col>
                    <ion-col size="5">
                        <ion-buttons>
                            <ion-button fill="solid" color="tertiary" size="small" shape="round">
                                {{attr.ageMin || '?'}}+
                            </ion-button>
                            <ion-button fill="solid" color="secondary" size="small" shape="round">
                                {{attr.growth || '? см'}}
                            </ion-button>
                            <ion-button *ngIf="attr.x && attr.y" fill="outline" color="primary" size="small" shape="round" (click)="onAttrLocation(i)">
                                <ion-icon color="primary" name="pin"></ion-icon>
                            </ion-button>
                            <ion-button *ngIf="!attr.x && !attr.y" fill="outline" color="medium" size="small" shape="round">
                                <ion-icon color="medium" name="sad"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </ion-col>
                </ion-row>
            </ion-card-header>
            <ion-card-content class="card-content" padding>
                {{attr.info | slice:0:80}}
            </ion-card-content>
        </ion-col>
    </ion-row>
    </div>
    <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="iconScrollTop" (click)="scrollToTop()">-->
        <!--<ion-fab-button>-->
            <!--<ion-icon name="arrow-dropup"></ion-icon>-->
        <!--</ion-fab-button>-->
    <!--</ion-fab>-->


</ion-content>
<app-alert></app-alert>
