<ion-content>
    <ion-card-header class="ion-text-center title-page">
        #KubanPark
    </ion-card-header>

    <form padding class="content" (ngSubmit)="login()" #registerForm="ngForm">

        <ion-row>
            <ion-col>

                <ion-row>
                    <ion-col class="ion-margin-bottom title-form">
                        <span class="title">Авторизация</span><br/>
                        <small class="text-muted">Введите логин и пароль.</small>
                    </ion-col>
                </ion-row>

                <ion-item class="form-control ion-margin-bottom" lines="none">
                    <ion-icon color="primary" class="icon-login" name="person"></ion-icon>
                    <ion-input type="text" placeholder="Логин" name="login" [(ngModel)]="user.login"
                               required></ion-input>
                </ion-item>

                <ion-item class="form-control ion-margin-bottom" lines="none">
                    <ion-icon color="primary" class="icon-login" name="key"></ion-icon>
                    <ion-input type="password" placeholder="Пароль" name="password" [(ngModel)]="user.password"
                               required></ion-input>
                </ion-item>

                <ion-item class="bg-white" lines="none">
                    <ion-label>Запомнить меня?</ion-label>
                    <ion-toggle color="success" id="save" name="save" [(ngModel)]="user.save"></ion-toggle>
                </ion-item>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <button type="submit" class="btn" [disabled]="!registerForm.form.valid" (tap)="login()" (keyup.enter)="login()">
                    <ion-icon *ngIf="registerForm.form.valid" name="unlock"></ion-icon>
                    <ion-icon *ngIf="!registerForm.form.valid" name="lock"></ion-icon>
                    Войти
                </button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="ion-text-center">
                <ion-buttons>
                    <ion-button (click)="createAccount()">
                        <span class="text-muted">Нет аккаунта?</span><span class="blue ion-padding-start">Регистрация</span>
                    </ion-button>
                </ion-buttons>
            </ion-col>
        </ion-row>


    </form>
</ion-content>
<app-alert></app-alert>