$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

ion-content {
  --ion-background-color: rgba(250, 250, 250, 0);
  background-image: linear-gradient(to right top, #7044ff, #5d58ff, #4c67ff, #3e75ff, #3880ff);
}

.title-page {
  //font-weight: bold;
  padding: 1.5rem 0;
  font-size: 1.3rem;
  color: #FFFFFF;
}

.content {
  box-shadow: $box-shadow;
  background-color: #FAFAFA;
  height: 100%;
  border-top-right-radius: 25px !important;
  border-top-left-radius: 25px !important;
}

.icon-header {
  color: #FFFFFF;
  font-size: 1.3rem;
}
.title-form {
  color: #444444;
  font-size: 1.3rem;
}
.text-muted {
  color: #9c9c9c;
}
.block-btn {
  background-color: #FFFFFF;
  border-top: 1px solid #f0f0f0;
}