$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

ion-content {
  --ion-background-color: rgba(250, 250, 250, 0);
  background-color: #00C851;
}
ion-toolbar {
  --ion-background-color: #FFFFFF;
}
ion-infinite-scroll, ion-infinite-scroll-content {
  --ion-background-color: #FFFFFF;
  background-color: #FFFFFF;
}
ion-segment {
  background-color: #FFFFFF;
}

.category {
  box-shadow: $box-shadow;
  background-color: #FFFFFF;
}
.img-block {
  background-color: #FFFFFF;
  --ion-background-color: #FFFFFF;
  min-height: 200px;
  .img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
.card {
  box-shadow: $box-shadow;
  background-color: #FFFFFF;
}

.title-card {
  font-size: 1.2rem;
  background-color: #FFFFFF;
}
.content {
  background-color: #FFFFFF;
  min-height: 100%;
}
.card-content {
  color: #757575;
}
.title-page {
  //font-weight: bold;
  padding: 1.5rem 0;
  font-size: 1.3rem;
  color: #FFFFFF;
}
.icon-header {
  color: #FFFFFF;
  font-size: 1.3rem;
}
.segment-block {
  //border-top-right-radius:25px;
  //border-top-left-radius:25px;
}

ion-infinite-scroll, ion-infinite-scroll-content {
  color: #00C851;
}
.absolute-toolbar {
  border-radius: 0!important;
  position: absolute;
}