<ion-toolbar class="card segment-block absolute-toolbar" *ngIf="iconScrollTop" [myScrollVanish]="scrollArea" [@toolbar]>
    <ion-segment scrollable>
        <ion-segment-button checked (click)="selectCategory('Топ 10')">
            Топ 10
        </ion-segment-button>
        <ion-segment-button *ngFor="let tag of listTag" (click)="selectCategory(tag.tag)">
            {{tag.name}}
        </ion-segment-button>
    </ion-segment>

    <ion-item lines="none">
        <ion-input [(ngModel)]="tagInput" placeholder="Что вас интересует?" clearInput></ion-input>
        <ion-buttons>
            <ion-button (click)="addTag(tagInput)" (keyup.enter)="addTag(tagInput)">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

</ion-toolbar>


<ion-content #scrollArea [scrollEvents]="true" (ionScroll)="logScrolling($event)">

    <ion-card-header class="ion-text-center title-page">
        <ion-row>
            <ion-col class="ion-text-left">
                <ion-button fill="clear" size="small" (click)="getNews()">
                    <ion-icon class="icon-header" name="refresh"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col align-self-center>
                #{{searchStr}}
            </ion-col>
            <ion-col class="ion-text-right">
            </ion-col>
        </ion-row>
    </ion-card-header>

    <ion-toolbar class="card segment-block">
        <ion-segment scrollable>
            <ion-segment-button checked (click)="selectCategory('Топ 10')">
                Топ 10
            </ion-segment-button>
            <ion-segment-button *ngFor="let tag of listTag" (click)="selectCategory(tag.tag)">
                {{tag.name}}
            </ion-segment-button>
        </ion-segment>

        <ion-item lines="none">
            <ion-input [(ngModel)]="tagInput" placeholder="Что вас интересует?" clearInput></ion-input>
            <ion-buttons>
                <ion-button (click)="addTag(tagInput)">
                    <ion-icon name="add"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>

    </ion-toolbar>

    <div class="content">
    <ion-row *ngFor="let news of listNews" class="card" [hidden]="news.urlToImage === null">
        <ion-col class="ion-no-padding" *ngIf="news">
            <div class="img-block">
                <img class="img" src="{{news.urlToImage}}"/>
            </div>
            <ion-card-header padding class="title-card">
                {{news.title}}<br/>
                <small class="card-content">{{news.publishedAt | date:'dd, MMMM yyyy, HH:mm'}}</small>
            </ion-card-header>
            <ion-card-content class="card-content" padding>
                {{news.description}}
            </ion-card-content>
            <ion-button class="ion-margin-bottom ion-margin-start" size="small" fill="outline" (click)="openHref(news.url)">Подробнее</ion-button>
        </ion-col>
    </ion-row>
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="iconScrollTop" (click)="scrollToTop()" [myScrollVanish]="scrollArea">
        <ion-fab-button (click)="scrollToTop()">
            <ion-icon name="arrow-dropup"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>
<app-alert></app-alert>