$color: rgba(0, 126, 51, 0.85);
$secondColor: #00C851;
$box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
$border-radius: 10px;

ion-content {
  --ion-background-color: #f0f0f0;
}
ion-toolbar {
  color: #FFFFFF;
  --ion-background-color: $secondColor;
  background-color: $secondColor;
}
.position-absolute {
  position: absolute;
}
ion-segment {
  --ion-background-color: #f0f0f0;
  background-color: #f0f0f0;
  //box-shadow: $box-shadow;
}
ion-slides {
  min-height: 80%;
}

ion-searchbar {
  --ion-background-color: #FFFFFF;
}
.mt-2 {
  margin-top: 0.8rem;
}

ion-item {
  --ion-background-color: rgba(255, 255, 255, 0);
}
.item-card {
  border-radius: $border-radius;
  //background-image: linear-gradient(to right top, #007e33, #00903a, #00a242, #00b549, #00c851);
  //background-color: #00c851;
  background-image: url('../../../assets/card.jpg');
  margin-right: 0.4rem;
  margin-left: 0.4rem;
  margin-bottom: 0.8rem;
  box-shadow: $box-shadow;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-title {
  font-size: 1.2rem;
  color: #FFFFFF;
}

.card-text {
  color: #f3f3f3;
}

.code-text {
  font-size: 1.3rem;
}

.card-icon {
  color: rgba(0, 0, 0, 0.5);
}
.button-icon {
  font-weight: 400;
  color: #f0f0f0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.icon-full {
  width: 100%;
  color: $secondColor;
  margin-top: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 10rem;
}
.ion-full-text {
  color: $secondColor;
  font-size: 2rem;
}
.refresh {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  --ion-background-color: #FFFFFF;
  background-color: #FFFFFF;
  color: $color;
}