$color: #007E33;
$secondColor: #00C851;
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
$border-radius: 5px;

ion-content {
  --ion-background-color: #FFFFFF;
}
ion-toolbar {
  color: #FFFFFF;
  --ion-background-color: $secondColor;
  background-color: $secondColor;
}
.position-absolute {
  position: absolute;
}
ion-segment {
  --ion-background-color: #FFFFFF;
  background-color: #FFFFFF;
  //box-shadow: $box-shadow;
}
ion-slides {
  min-height: 80%;
}

ion-searchbar {
  --ion-background-color: #FFFFFF;
}
.mt-2 {
  margin-top: 0.8rem;
}

.item-card {
  border-radius: $border-radius;
  //background-image: linear-gradient(to right top, #007e33, #00903a, #00a242, #00b549, #00c851);
  background-color: #00c851;
  --ion-background-color: rgba(255, 255, 255, 0);
  margin-right: 0.4rem;
  margin-left: 0.4rem;
  margin-bottom: 0.8rem;
  box-shadow: $box-shadow;
}

.card-title {
  font-size: 1.2rem;
  color: #FFFFFF;
}

.card-text {
  color: #f3f3f3;
}

.code-text {
  font-weight: bold;
  font-size: 1.3rem;
}

.card-icon {
  color: rgba(0, 0, 0, 0.4);
}
.button-icon {
  background-color: #FFFFFF;
  color: #007E33;
  border-radius: 3px;
}

.icon-full {
  width: 100%;
  color: $secondColor;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 10rem;
}
.ion-full-text {
  color: $secondColor;
  font-size: 2rem;
}
.refresh {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  --ion-background-color: #FFFFFF;
  background-color: #FFFFFF;
  color: $color;
}
