<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="onBack()">
      <ion-icon size="default" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>
    Восстановление пароля
  </ion-title>
</ion-toolbar>

<ion-content>

  <ion-row padding>
    <ion-col size="12">
      <ion-item class="form-control" lines="none">
        <ion-icon color="primary" class="icon-login" name="mail"></ion-icon>
        <ion-input type="text" placeholder="Введите email" name="login" [(ngModel)]="email" (keyup.enter)="resetPassword()"
                   required></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12" class="title-form" text-left>
      <small class="text-muted">
        Введите email, который привязан к вашему аккаунту. Мы пришлем вам новый пароль на почту.
      </small>
    </ion-col>

  </ion-row>

</ion-content>

<ion-row class="ion-no-padding ion-no-margin">
  <ion-col class="ion-no-padding ion-no-margin">
    <app-alert></app-alert>
  </ion-col>
</ion-row>

<ion-row class="block-btn" padding>
  <ion-col>
    <button type="submit" class="btn" (click)="resetPassword()" [disabled]="!email">
      Новый пароль
    </button>
  </ion-col>
</ion-row>