ion-toolbar {
  --ion-background-color: #00C851;
  color: #FFFFFF;
}

ion-content {
  --ion-background-color: #eeeeee;
}

.form-control {
  border-radius: 5px!important;
  --ion-background-color: rgba(255, 255, 255, 0);
  background-color: #FFFFFF;
  color: #757575;
  //box-shadow: $box-shadow;
}
.icon-login {
  margin-right:1rem;
}

.title-form {
  color: #444444;
  font-size: 1.2rem;
}
.text-muted {
  color: #9c9c9c;
}