.loading {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 105;
  display: flex;
  vertical-align: middle;
}
.loading-block {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: auto;
  width: 60%;
}
.text {
  color: #3880ff;
}
