<ion-tabs>
  <ion-tab-bar slot="bottom" [hidden]="hideMenu">

    <ion-tab-button tab="card" (click)="activeMenu = 'Карты'">
      <!--<ion-icon src="assets/svg/color-card.svg"></ion-icon>-->
      <ion-icon name="card"></ion-icon>
      <ion-label class="menu-text-color">Карты</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stock" (click)="activeMenu = 'Акции'">
      <!--<ion-icon src="assets/svg/color-stock.svg"></ion-icon>-->
      <ion-icon name="star"></ion-icon>
      <ion-label class="menu-text-color">События</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list-service" (click)="activeMenu = 'Аттракционы'">
      <!--<ion-icon src="assets/svg/color-attr.svg"></ion-icon>-->
      <ion-icon name="briefcase"></ion-icon>
      <ion-label class="menu-text-color">Услуги</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="location" (click)="activeMenu = 'Новости'">
      <!--<ion-icon src="assets/svg/color-news.svg"></ion-icon>-->
      <ion-icon name="pin"></ion-icon>
      <ion-label class="menu-text-color">Локации</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)="activeMenu = 'Профиль'">
      <!--<ion-icon src="assets/svg/user.svg"></ion-icon>-->
      <ion-icon name="person"></ion-icon>
      <ion-label class="menu-text-color">Профиль</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="ff" (click)="activeMenu = 'Профиль'">-->
      <!--&lt;!&ndash;<ion-icon src="assets/svg/user.svg"></ion-icon>&ndash;&gt;-->
      <!--<ion-icon name="pin"></ion-icon>-->
      <!--<ion-label class="menu-text-color">Локации</ion-label>-->
    <!--</ion-tab-button>-->

  </ion-tab-bar>

</ion-tabs>
