<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="card" (click)="activeMenu = 'Карты'">
      <ion-icon src="assets/svg/color-card.svg"></ion-icon>
      <ion-label class="menu-text-color" [@label] *ngIf="activeMenu === 'Карты'">Карты</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stock" (click)="activeMenu = 'Акции'">
      <ion-icon src="assets/svg/color-stock.svg"></ion-icon>
      <ion-label class="menu-text-color" [@label] *ngIf="activeMenu === 'Акции'">Акции</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="attr" (click)="activeMenu = 'Аттракционы'">
      <ion-icon src="assets/svg/color-attr.svg"></ion-icon>
      <ion-label class="menu-text-color" [@label] *ngIf="activeMenu === 'Аттракционы'">Аттракционы</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news" (click)="activeMenu = 'Новости'">
      <ion-icon src="assets/svg/color-news2.svg"></ion-icon>
      <ion-label class="menu-text-color" [@label] *ngIf="activeMenu === 'Новости'">Новости</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)="activeMenu = 'Профиль'">
      <ion-icon src="assets/svg/color-profile.svg"></ion-icon>
      <ion-label class="menu-text-color" [@label] *ngIf="activeMenu === 'Профиль'">Профиль</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
