$box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);

ion-tabs, ion-tab-bar {
  --ion-background-color: #FFFFFF;
  border: none!important;
  box-shadow: $box-shadow;
}
ion-icon {
  font-size: 1.8rem;
}
.menu-text-color {
  font-weight: bold;
  font-size: 0.6rem;
  //color: #4D4D4D;
}
