
<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="news">
      <ion-icon name="list"></ion-icon>
      <ion-label>Новости</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stock">
      <ion-icon name="star"></ion-icon>
      <ion-label>Акции</ion-label>
    </ion-tab-button>

    <!--<ion-tab-button tab="location">-->
      <!--<ion-icon name="pin"></ion-icon>-->
      <!--<ion-label>Локации</ion-label>-->
    <!--</ion-tab-button>-->

    <ion-tab-button tab="attr">
      <ion-icon name="rocket"></ion-icon>
      <ion-label>Аттракционы</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="card">
      <ion-icon name="card"></ion-icon>
      <ion-label>Карты</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Профиль</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
