$box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);

ion-content {
  --ion-background-color: rgba(250, 250, 250, 0);
  background-color: #00C851;
}
.toolbar {
  color: #FFFFFF;
  --ion-background-color: #00C851;
}
.title-page {
  padding: 1.15rem 0;
  font-size: 1.3rem;
  color: #FFFFFF;
}

.content {
  min-height: 100%;
  box-shadow: $box-shadow;
  background-color: #eeeeee;
}
.icon-header {
  color: #FFFFFF;
  font-size: 1.3rem;
}
.item-card {
  border-radius: 10px;
  background-color: #33b5e5;
  --ion-background-color: rgba(255, 255, 255, 0);
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  //box-shadow: $box-shadow;
  border: 2px solid #0099CC;
}
.form-control {
  background-color: #FFFFFF;
  margin-top: 1rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  color: #616161;
  //box-shadow: $box-shadow;
  border-radius: 5px;
}
.title-form {
  color: #444444;
  font-size: 1.2rem;
}
.text-muted {
  color: #9c9c9c;
}
.outline {
  border-bottom: 1px solid #FFFFFF;
}
.card-title {
  margin: 0 0.3rem;
  font-size: 1.4rem;
  color: #FFFFFF!important;
  font-weight: bold;
}
.code {
  font-size: 1.4rem!important;
}

.card-text {
  margin: 0 0.3rem;
  font-size: 1.1rem;
  color: #ffffff;
}

.block-btn {
  padding: 0.8rem 0.5rem;
}

.block-bonus {
  border-radius: 10px;
  background-color: #ffbb33;
  --ion-background-color: rgba(255, 255, 255, 0);
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  //box-shadow: $box-shadow;
  border: 2px solid #FF8800;
}
.bonus-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  color: #FFFFFF;
}
.bonus-title {
  font-size: 1.3rem;
  font-weight: bold;
}
.bonus-icon {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
ion-range {
  font-size: 1.3rem;
  background-color: #FFFFFF;
}