ion-content, ion-item {
  --background: none transparent;
  height: 100%;
  display: flex;
  vertical-align: middle;
}

ion-item {
  margin: auto;
}

.square {
  width: 100%;
  height: 300px;
  border: 3px dashed #FFFFFF;
}